@import "tailwindcss";

@theme {
  /* ====== FONTS ====== */

  --font-ubuntu: "Ubuntu", sans-serif;
  --font-League: "League Gothic", sans-serif;

  --breakpoint-sm: 640px; /* default, change if needed */
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* ====== BRAND COLORS ====== */
  --color-primary-50: #faf9f5;
  --color-primary-100: #f5f2eb;
  /* --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;  main brand color */
  /* --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a; */

  /* ====== NEUTRAL / GREY ====== */
  --color-neutral-50: #07514d;
  /* --color-neutral-50: #06413e;
  --color-neutral-50: #397471;
  --color-neutral-50: #06413e; */
  /* --color-neutral-50: #222229; //black */
  --color-neutral-100: #34343d;
  --color-neutral-200: #9b9ba3;
  --color-neutral-300: #d1d5db;
  /* 
  --color-neutral-400: #9ca3af;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #4b5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827; */

  /* ====== SEMANTIC COLORS ====== */
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;

  /* ====== BACKGROUND / SURFACE ====== */
  --color-surface: #a37200;
  --color-background: #7a5500;
}

/* Apply base font globally */
@layer base {
  body {
    font-family: var(--font-ubuntu);
    background-color: var(--color-primary-50);
    color: var(--color-neutral-50);
  }
}
